<div class="login-container">
  <div class="login-box">
      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="title">กรอกรหัสยืนยัน</h2>
              </div>
              <div class="col-12 text-center pt-2">
                <label>กรุณากรอกหมายเลขยืนยันตัวตนที่ส่งไป</label><br>
                <label>ยังหมายเลข</label>
                <label class="px-2 phone-number">098-711-5326</label><br>
                <label>(Ref: abcd)</label>
              </div>
              <div class="col-12 o-c pt-4">
                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
              </div>
              <div class="col-12 text-end pe-5 pt-1">
                <p *ngIf="timeLeft > 0">ส่งอีกครั้งภายใน({{ timeLeft }})</p>
                <p class="try-again" *ngIf="timeLeft == 0">ส่งอีกครั้ง</p>
              </div>
              <div class="d-grid pt-3">
                <button type="submit" class="btn btn-register" [disabled]="otp?.length != 6" [ngClass]="{'invalid-button': otp?.length != 6}">ยืนยัน otp</button>
              </div>
            </div>

          </div>
      </div>
  </div>
</div>
