<div class="modal-header">
  <h4 class="modal-title text-orange">เพิ่มข้อมูลทะเบียนรถ</h4>
</div>
<form [formGroup]="form!" (submit)="save()">
  <div class="modal-body">

      <div class="form-group mb-3">
        <label class="form-label required">เลขทะเบียน</label>
        <input type="text" class="form-control" formControlName="plateNo" [ngClass]="{ 'is-invalid': submitted && f['plateNo'].errors }">
      </div>
      <div class="mb-3">
        <label for="village" class="form-label required">จังหวัด</label>
        <select class="form-select" id="village"formControlName="provinceId" [ngClass]="{ 'is-invalid': submitted && f['provinceId'].errors }">
          <option value="">เลือกจังหวัด</option>
          <ng-container *ngFor="let item of provinces">
            <option [value]="item.id">{{item.nameTh}}</option>
          </ng-container>
        </select>
    </div>
  </div>
  <div class="text-center py-3">
    <button type="button" class="btn invalid-button mx-2 px-3" (click)="activeModal.dismiss()">ยกเลิก</button>
    <button type="button" class="btn btn-cancel mx-2 px-3" (click)="save()">บันทึก</button>
  </div>
</form>

