<div class="login-container">
  <div class="login-box">
      <div class="card">
          <div class="card-body">
            <img src="../../assets/images/logo.png" class="img-thumbnail" style="border: none;">
            <h1 class="text-center" style="color: #6C6868;">Welcome</h1>
            <h5 class="text-center pb-5" style="color: #F5821F;">ES Village Management</h5>
              <form [formGroup]="form" (submit)="onSubmit()">
                  <div >
                      <input type="text" [OnlyNumber]="true" maxlength="10" formControlName="phoneNumber" class="form-control" id="phoneNumber" placeholder="กรอกเบอร์โทรศัพท์">
                  </div>
                  <div class="d-grid pt-3">
                      <button type="submit" class="btn btn-register" [disabled]="form.invalid" [ngClass]="{'invalid-button': form.invalid}">ลงทะเบียน</button>
                  </div>
                  <div class="d-grid pt-1">
                    <button type="submit" class="btn btn-cancel">ยกเลิก</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
