<div class="container">
  <div class="row px-4">
    <div class="col-12 pt-5 text-center">
      <h1 class="title">Walk-in Register</h1>
    </div>
    <div class="col-12 pt-2 text-center">
      <h1>กน789</h1>
    </div>
    <div class="col-12 pt-4 pb-2">
      <hr/>
    </div>
    <form class="row row-cols-sm-auto">
      <div class="col-12 mb-3">
        <h5 class="text-orange">ข้อมูลบ้านที่ต้องการติดต่อ</h5>
      </div>
      <div class="form-group">
        <label class="form-label required">บ้านเลขที่</label>
        <select class="form-select" id="village">
          <option value="">163/197</option>
        </select>
      </div>
      <div class="col-12 pt-2 pb-2">
        <hr/>
      </div>
      <div class="col-12 mb-3">
        <h5 class="text-orange">ข้อมูลผู้มาติดต่อ</h5>
      </div>
      <div class="col-12">
        <label class="form-label mb-2">รูปถ่าย</label>
        <img *ngIf="url"  class="img-thumbnail" src={{url}}>
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile"  (change)="onFileChanged($event)" >
        </div>
      </div>
      <div class="col-12">
        <div class="form-group mb-3">
          <label class="form-label required">วันที่มาติดต่อ</label>
          <div class="input-group mb-1">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="form-group mb-1">
          <label class="form-label required">ชื่อผู้มาติดต่อ</label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group mb-1">
          <label class="form-label required">เบอร์โทรศัพท์</label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group mb-1">
          <label class="form-label required">เหตุผล</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="text-center py-3">
          <button type="button" class="btn invalid-button mx-2 px-3" >ยกเลิก</button>
          <button type="button" class="btn btn-cancel mx-2 px-3" >บันทึก</button>
        </div>
      </div>
    </form>

  </div>
</div>
