<div class="modal-header">
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center">
      <i class="bi bi-exclamation-triangle-fill icon"></i>
    </div>
  </div>
  <div class="col-12 text-center">
    <h2>ยืนยันการลบข้อมูล</h2>
    <label>เลขทะเบียน</label>
    <label class="mx-2">{{plateNo}} {{province}} </label>
  </div>

<div class="text-center py-3">
  <button type="button" class="btn btn-register mx-2 px-5" (click)="activeModal.close('Close click')">ยืนยัน</button>
  <button type="button" class="btn btn-cancel mx-2 px-5" (click)="activeModal.dismiss()">ยกเลิก</button>
</div>
