<div class="container">
  <div class="row px-4">
    <div class="col-12 pt-5 text-center">
      <h1 class="title">Profile</h1>
    </div>
    <div class="col-12 pt-4 pb-2">
      <h1>คุณ{{name}}</h1>
      <h5 class="text-orange">{{village?.villageName}}</h5>
    </div>
    <div class="col-5">
      <label>บ้านเลขที่</label>
    </div>
    <div class="col-7">
      <label class="text-orange"></label>
    </div>
    <div class="col-5">
      <label>เบอร์โทรศัพท์</label>
    </div>
    <div class="col-7">
      <label class="text-orange">{{phoneNumber}}</label>
    </div>
    <div class="col-12 pt-4 pb-2">
      <hr/>
    </div>
    <div class="col-12">
      <h5 class="text-orange">ข้อมูลทะเบียนรถ</h5>
    </div>
    <div class="col-12">
      <ng-container *ngFor="let item of cars">
        <div class="row py-2">
          <div class="col-9">
            <div class="row">
              <h3>{{item.plateNo}}</h3>
              <label>{{item.plateProvince ?? "กรุงเทพ"}}</label>
              <label>{{item.status == 1 ? "อนุมัติ" : 'ไม่อนุมัติ'}}</label>
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <button type="button" class="btn btn-register btn-block" style="text-align: left !important;" (click)="openVehicelModal('edit')">
                <i class="bi bi-pencil-square pe-2"  ></i>แก้ไข
              </button>
            </div>
            <div class="row pt-2 ">
              <button type="button" class="btn btn-cancel btn-block" style="text-align: left !important;" (click)="openDeleteModal()">
                <i class="bi bi-trash"></i>ลบ
              </button>
            </div>

          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-12 py-2 text-center">
      <i class="bi bi-plus-circle icon" (click)="openVehicelModal('add')"></i>
    </div>
    <button type="submit" class="btn btn-cancel btn-block mb-5">ยกเลิก</button>
  </div>
</div>
