<div class="container">
  <div class="row px-4">
    <div class="col-12 pt-5 text-center">
      <h1 class="title">รายการคำขอ</h1>
      <h1 class="title">Temporary Pre-Register</h1>
    </div>
    <div class="col-12 pt-4 pb-2">
      <h1>คุณวีรพล เวชวิชา</h1>
      <h5 class="text-orange">หมู่บ้านกลางเมืองวัชรพล</h5>
    </div>
    <div class="col-5">
      <label>บ้านเลขที่</label>
    </div>
    <div class="col-7">
      <label class="text-orange">166/132</label>
    </div>
    <div class="col-5">
      <label>เบอร์โทรศัพท์</label>
    </div>
    <div class="col-7">
      <label class="text-orange">098-711-5326</label>
    </div>
    <div class="col-12 pt-4 pb-2">
      <hr/>
    </div>
    <div class="col-12 mb-3">
      <h5 class="text-orange">ข้อมูลผู้มาติดต่อ</h5>
    </div>
    <div class="col-5">
      <label>ชื่อผู้มาติดต่อ</label>
    </div>
    <div class="col-7">
      <label class="text-orange">อนัญญา นิรัตน์พัฒนสัย</label>
    </div>
    <div class="col-5">
      <label>เบอร์โทรศัพท์</label>
    </div>
    <div class="col-7">
      <label class="text-orange">067-498-3254</label>
    </div>
    <div class="col-5">
      <label>ทะเบียนรถ</label>
    </div>
    <div class="col-7">
      <label class="text-orange">นร7777 ปทุมธานี</label>
    </div>
    <div class="col-5">
      <label>วันที่มาติดต่อ</label>
    </div>
    <div class="col-7">
      <label class="text-orange">18 สิงหาคม 2567</label>
    </div>
    <div class="offset-5 col-7">
      <label class="text-orange">19 สิงหาคม 2567</label>
    </div>
    <div class="col-5">
      <label>เหตุผล</label>
    </div>
    <div class="col-7">
      <label class="text-orange">เยี่ยมญาติ</label>
    </div>
    <div class="d-grid pt-5">
      <button type="submit" class="btn btn-register" (click)="approve()">อนุมัติ</button>
    </div>
    <div class="d-grid pt-1">
      <button type="submit" class="btn btn-cancel" (click)="reject()">ปฏิเสธ</button>
    </div>
  </div>
</div>
